$clean: #fff;
$dark: #4D4D4D;
$dark-case2: #515151;
$warning: #FFAA00;
$warning-light: #FBD86C;
$danger: red;
$primary: #3BB781;
$link: #0BA6C1;
$dirty: #F7F7F7;
$coral: #FFE6C6;
$border: #EEEEEE;
$secondary: #4D4D4D;
$secondary-case2: #808080;
$secondary-case3: #B8B8B8;
$subtitle: #888888;
$caption: $subtitle;
$border-case2: #D9D9D9;
$border-case3: #E5E5E5;
$border-logo: #D9E5EE;
$ocean: #44B8FF;

$warning-hover: #F6B007;
$link-hover: #1CC8E6;

$def-shadow: 0px 5px 20px 0px rgba(#000, 0.1);
$card-shadow: 0px 15px 40px 0px rgba(#000, 0.1);
$modal-shadow: 0px 10px 40px 0px rgba(#000, 0.4);
$btn-focus: 0px 0px 10px 5px;
