.btn {
    &_download {
        vertical-align: bottom;
        height: 44px;
        width: 44px;
        padding: 0;
        background-image: url('../img/download.svg');
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
    }
}