.main-card {
  @extend .rounded;
  cursor: pointer;
  user-select: none;

  &__header {
    @extend .rounded-top;
    overflow: hidden;
    opacity: 0.5;
    height: 240px;
    width: 100%;
    display: block;
    transition: opacity .3s ease;

    img {
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  &__content {
    @extend .rounded-bottom;
    overflow: hidden;
    background-color: $clean;
    padding: 32px 32px 50px;
    transition: height .3s ease;
  }

  &__btn {
    margin-top: 24px;
    display: none;
  }

  &.is-active {
    box-shadow: 0 15px 40px rgba(#000000, 0.1);

    .main-card {
      &__btn {
        display: block;
      }

      &__header {
        opacity: 1;
      }
    }
  }
}
