article.container.space-article
    h2.title.space-title Чем дополнить альбом?
    .swiper-container.js-only-mobile-slider.card-advantage__group
        .swiper-wrapper.row.main-page-cardset
            .col-xl-3.space-card-price.swiper-slide
                .icon-adding
                    .icon-adding__header
                        img(src="img/album-addings.png")
                        .icon-adding__desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                    p.icon-adding__text.text Ламинированные <br>листы
            .col-xl-3.space-card-price.swiper-slide
                .icon-adding
                    .icon-adding__header
                        img(src="img/album-addings.png")
                        .icon-adding__desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                    p.icon-adding__text.text Портрет на обложке
            .col-xl-3.space-card-price.swiper-slide
                .icon-adding
                    .icon-adding__header
                        img(src="img/album-addings.png")
                        .icon-adding__desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                    p.icon-adding__text.text Коллаж на разворот
            .col-xl-3.space-card-price.swiper-slide
                .icon-adding
                    .icon-adding__header
                        img(src="img/album-addings.png")
                        .icon-adding__desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                    p.icon-adding__text.text Коллаж с детскими <br>фото
            .col-xl-3.space-card-price.swiper-slide
                .icon-adding
                    .icon-adding__header
                        img(src="img/album-addings.png")
                        .icon-adding__desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                    p.icon-adding__text.text Коллаж на обложке
            .col-xl-3.space-card-price.swiper-slide
                .icon-adding
                    .icon-adding__header
                        img(src="img/album-addings.png")
                        .icon-adding__desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                    p.icon-adding__text.text Дополнительный <br>разворот
            .col-xl-3.space-card-price.swiper-slide
                .icon-adding
                    .icon-adding__header
                        img(src="img/album-addings.png")
                        .icon-adding__desc Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                    p.icon-adding__text.text Персонализация

        .main-page-cardset__btn.swiper-button-prev
            +svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
        .main-page-cardset__btn.swiper-button-next
            +svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
