article.container.space-article.pt-0
    h2.title.space-title Сколько стоит выпускной альбом?
    .row
        .col-12
            .swiper-container.js-only-mobile-slider
                .swiper-wrapper.row.main-page-cardset
                    .col-xl-4.swiper-slide
                        .price-card
                            .price-card__header
                                img(src="img/album-eco.svg")
                                h4.subtitle.subtitle_secondary Папка-Эконом
                            .price-card__desc
                                p Таким образом реализация намеченных <br />плановых заданий требуют от нас анализа <br />систем массового участия. Товарищи!
                                ul.list
                                    li.list__item <strong>4 чел. на разворот</strong>
                                    li.list__item <span>Переплет:</span> Журнальный, Твёрдый
                                    li.list__item <span>Содержание:</span> Общее фото, Педагог, вид учебного заведения
                            .price-card__footer
                                p.caption Стоимость альбома
                                h4.title.title_price 1 200
                    .col-xl-4.swiper-slide
                        .price-card
                            .price-card__header
                                img(src="img/album-tablet.svg")
                                h4.subtitle.subtitle_secondary Планшет
                            .price-card__desc
                                p Таким образом реализация намеченных <br />плановых заданий требуют от нас анализа <br />систем массового участия. Товарищи!
                                ul.list
                                    li.list__item <strong>2 чел. на разворот</strong>
                                    li.list__item <span>Переплет:</span> Журнальный, Твёрдый
                                    li.list__item <span>Содержание:</span> Портрет, Коллаж/Виньетка, все педагоги
                            .price-card__footer
                                p.caption Стоимость альбома
                                h4.title.title_price 1 200
                    .col-xl-4.swiper-slide
                        .price-card
                            .price-card__header
                                img(src="img/album-pier-glass.svg")
                                h4.subtitle.subtitle_secondary Трюмо
                            .price-card__desc
                                p Таким образом реализация намеченных <br />плановых заданий требуют от нас анализа <br />систем массового участия. Товарищи!
                                ul.list
                                    li.list__item <strong>1 чел. на разворот</strong>
                                    li.list__item <span>Переплет:</span> Журнальный, Твёрдый
                                    li.list__item <span>Содержание:</span> Общее фото, Педагог, вид учебного заведения
                            .price-card__footer
                                p.caption Стоимость альбома
                                h4.title.title_price 1 200

                .main-page-cardset__btn.swiper-button-prev
                    +svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
                .main-page-cardset__btn.swiper-button-next
                    +svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
