article.container.space-article.pt-0
    h2.title.space-title Примеры альбомов
    .row.js-tab-container.tab.tab_main-page
        .col-12
            ul.tab-list
                li.tab-list__item.js-tab-menu-item.is-active(data-target="#example0")
                    h4.tab-list__title Обложки
                li.tab-list__item.js-tab-menu-item(data-target="#example1")
                    h4.tab-list__title Развороты
                li.tab-list__item.js-tab-menu-item(data-target="#example2")
                    h4.tab-list__title Фотогалерея

        .col-12
            .tab__content.is-active#example0
                .row
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
            .tab__content#example1
                .row
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
            .tab__content#example2
                .row
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
                    .col-xl-3.space-card-albums
                        .test-block
        .col-auto.mt-5.mx-auto
            button.btn.btn_warning Отправить прайс на WhatsApp и Viber
