article.container.space-article.pt-0
    h2.title.mb-5.mb-xl-6 4 простых шага создания выпускного альбома
    .swiper-container.js-only-mobile-slider.card-advantage__group
        .swiper-wrapper.row.main-page-cardset
            .col-md-6.col-xl-3.mt-4.mt-md-0.swiper-slide
                .card-advantage.card-advantage_steps.mb-xl-8
                    .card-advantage__icon
                        .card-advantage__label 1
                        img(src="img/simple-step7.svg")
                    .card-advantage__content
                        .card-advantage__title Выбираете альбом
                        ul.list.list_md
                            li.list__item Выбираете альбом
                            li.list__item Оставляете заявку на сайте
                            li.list__item Или звоните в офис компании 203-23 - 00
                            li.list__item Заключаем договор с внесением предоплаты 25%
            .col-md-6.col-xl-3.mt-4.mt-md-0.swiper-slide
                .card-advantage.card-advantage_steps.mb-xl-8
                    .card-advantage__icon
                        .card-advantage__label 2
                        img(src="img/simple-step1.svg")
                    .card-advantage__content
                        .card-advantage__title Фотосессия в 2 этапа
                        ul.list.list_md
                            li.list__item Студийная часть (портретная съёмка выпускников и педагогов)
                            li.list__item Репортажная часть (групповые фото в учебном заведении и на улице)
                            li.list__item До 6 часов работы фотографа/видеографа
            .col-md-6.col-xl-3.mt-4.mt-md-5.mt-xl-0.swiper-slide
                .card-advantage.card-advantage_steps.mb-xl-8
                    .card-advantage__icon
                        .card-advantage__label 3
                        img(src="img/simple-step2.svg")
                    .card-advantage__content
                        .card-advantage__title Выбор фото
                        ul.list.list_md
                            li.list__item Высылаем вам все фото с фотосессии
                            li.list__item Каждый родитель и выпускник самостоятельно выбирает фотографии для альбома
            .col-md-6.col-xl-3.mt-4.mt-md-5.mt-xl-0.swiper-slide
                .card-advantage.card-advantage_steps.mb-xl-8
                    .card-advantage__icon
                        .card-advantage__label 4
                        img(src="img/simple-step3.svg")
                    .card-advantage__content
                        .card-advantage__title Создание альбома
                        ul.list.list_md
                            li.list__item Создаём макеты альбома
                            li.list__item Согласовываем их с вами
                            li.list__item Печатаем и изготавливаем альбомы
                            li.list__item.list__item_primary.mt-3 Вы получаете свой заказ

        .main-page-cardset__btn.swiper-button-prev
            +svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
        .main-page-cardset__btn.swiper-button-next
            +svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
