article.container.space-article.pt-0
    .row.rounded.overflow-hidden
        .col-xl-3
            picture.absolute-image
                img(style="background-color: gray;")
        .col.pl-xl-3.py-xl-4.pr-xl-4.bg-light
            .row.align-items-center.no-gutters.px-2.py-3
                .col-12.col-md
                    .subtitle Пройди тест и получи альбом <br />с <strong>дополнительной реальностью <br />по цене классического!</strong>
                col-12.col-md-auto.ml-xl-auto.mt-2.mt-md-0
                    button.btn.btn_primary.js-scrollToBlock-init(data-target="#quiz-section") Пройти тест
