article.container.space-article.article-clean
    h2.title.space-title Все цены включают
    .swiper-container.js-only-mobile-slider.card-advantage__group
        .swiper-wrapper.row.main-page-cardset
            .col-sm-6.col-xl-3.space-card-price.swiper-slide.pr-spc-3
                .icon
                    img(src="img/advantage0.svg")
                p.text.mt-2.text-center.text-md-left Фотосессия в Вашем учебном заведении
            .col-sm-6.col-xl-3.space-card-price.swiper-slide.pr-spc-3
                .icon
                    img(src="img/advantage1.svg")
                p.text.mt-2.text-center.text-md-left До 8 часов работы фотографа&nbsp;/&nbsp;видеографа, выбор понравившихся кадров
            .col-sm-6.col-xl-3.space-card-price.swiper-slide.pr-spc-3
                .icon
                    img(src="img/advantage2.svg")
                p.text.mt-2.text-center.text-md-left Ретушь и цветокоррекция фотографий, разработка макетов
            .col-sm-6.col-xl-3.space-card-price.swiper-slide.pr-spc-3
                .icon
                    img(src="img/advantage3.svg")
                p.text.mt-2.text-center.text-md-left Фотоистория вашего класса + страница для пожеланий
            .col-sm-6.col-xl-3.space-card-price.swiper-slide.pr-spc-3
                .icon
                    img(src="img/advantage4.svg")
                p.text.mt-2.text-center.text-md-left Сверка макета перед печатью и внесение корректировок
            .col-sm-6.col-xl-3.space-card-price.swiper-slide.pr-spc-3
                .icon
                    img(src="img/advantage5.svg")
                p.text.mt-2.text-center.text-md-left Изготовление фотоальбомов
            .col-sm-6.col-xl-3.space-card-price.swiper-slide.pr-spc-3
                .icon
                    img(src="img/advantage6.svg")
                p.text.mt-2.text-center.text-md-left Бесплатный альбом педагогу
            .col-sm-6.col-xl-3.space-card-price.swiper-slide.pr-spc-3
                .icon
                    img(src="img/advantage7.svg")
                p.text.mt-2.text-center.text-md-left Все фотографии в электронном виде в печатном качестве

        .main-page-cardset__btn.swiper-button-prev
            +svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
        .main-page-cardset__btn.swiper-button-next
            +svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
