article.container.space-article
    h2.title.space-title Почему заказывают у нас?
    .card-advantage.mb-xl-8
        .card-advantage__icon
            .card-advantage__label 1
            img(src="img/why-me0.svg")
        .card-advantage__content
            .card-advantage__title Официально и надёжно
            .card-advantage__desc Работаем для Вас 7 лет. Заключаем договор, предоставляем чеки, соблюдаем сроки.
    .card-advantage.mb-xl-8
        .card-advantage__icon
            .card-advantage__label 2
            img(src="img/why-me1.svg")
        .card-advantage__content
            .card-advantage__title Лучшие фотографы
            .card-advantage__desc Опыт, профессиональная фототехника, медицинские книжки.
    .card-advantage.mb-xl-8
        .card-advantage__icon
            .card-advantage__label 3
            img(src="img/why-me2.svg")
        .card-advantage__content
            .card-advantage__title Учитываем все пожелания
            .card-advantage__desc Добавим в альбом: детские фото, интервью,  фотоисторию.
    .card-advantage.mb-xl-8
        .card-advantage__icon
            .card-advantage__label 4
            img(src="img/why-me3.svg")
        .card-advantage__content
            .card-advantage__title Собственная типография
            .card-advantage__desc Контроль качества на всех этапах изготовления.
