extends ../_template
block variables
	- let title = 'AR-открытки и постеры'

block content
	include ../components/input/input-number
	include ../components/checkmark/checkmark
	include ../modules/card/card
	main
		article.container.space-article.pt-0
			.row
				.col
					.main-slider__wrapper
						.swiper-container.main-slider.js-main-banner-swiper-container
							.swiper-wrapper
								-
									let length = 0;

								while length < 2
									.swiper-slide.main-slider__slide(data-slider=length++)
										picture.main-slider__slide-bg
											img(src=`img/main-banner/main-banner${length - 1}.jpg` alt="")
										.row
											.col-xl-12
												h2.main-slider__title.title Что такое альбом <br>с дополненной реальностью (AR)?
											.col-xl-6
												.main-slider__desc Это альбом, где фотография «оживает» при наведении на нее камеры смартфона. <br><br>На месте, где размещена фотография, проигрывается видео со звуком продолжительностью до 3 минут.
							.swiper-pagination
						.swiper-button-prev.main-slider__btn.js-swiper-main-prev
							+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
						.swiper-button-next.main-slider__btn.js-swiper-main-next
							+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')

		article.container.space-article.pt-0.js-modal-video-container
			h2.title.space-title Дарите радость родным, близким и друзьям
			.row
				.col-12
					.ar-posters-video
						video(controls).js-modal-video
							source(src="img/ar-page-video.mp4" type="video/mp4")
						.ar-posters-video__play.js-modal-video-play
							svg(xmlns="http://www.w3.org/2000/svg" width="32" height="40" viewBox="0 0 32 40")
								path(d="M18.3,2.714a2,2,0,0,1,3.392,0L38.088,28.94a2,2,0,0,1-1.7,3.06H3.608a2,2,0,0,1-1.7-3.06Z" transform="translate(32) rotate(90)" fill="#fa0")
					.ar-posters-video__bg
						img(src="img/ar-posters-video-bg.png")
					.ar-posters-video__bg.ar-posters-video__bg_second
						img(src="img/ar-posters-video-bg1.png")

		article.container.space-article.pt-0
			h2.title.mb-5.mb-xl-6 4 простых шага создания открытки
			.swiper-container.js-only-mobile-slider.card-advantage__group
				.swiper-wrapper.row.main-page-cardset
					.col-md-6.col-xl-3.mt-4.mt-md-0.swiper-slide
						.card-advantage.card-advantage_steps.mb-xl-5
							.card-advantage__icon
								.card-advantage__label 1
								img(src="img/simple-step4.svg")
							.card-advantage__content
								.card-advantage__title.card-advantage__title_sm Снимаете на телефон (фотоаппарат) фото&nbsp;-&nbsp;видео
					.col-md-6.col-xl-3.mt-4.mt-md-0.swiper-slide
						.card-advantage.card-advantage_steps.mb-xl-5
							.card-advantage__icon
								.card-advantage__label 2
								img(src="img/simple-step5.svg")
							.card-advantage__content
								.card-advantage__title.card-advantage__title_sm Выбираете понравившийся вариант открытки/календаря
					.col-md-6.col-xl-3.mt-4.mt-md-5.mt-xl-0.swiper-slide
						.card-advantage.card-advantage_steps.mb-xl-5
							.card-advantage__icon
								.card-advantage__label 3
								img(src="img/simple-step2.svg")
							.card-advantage__content
								.card-advantage__title.card-advantage__title_sm Нажимаете кнопку "ЗАКАЗАТЬ" и загружаете ваши фото и видео
					.col-md-6.col-xl-3.mt-4.mt-md-5.mt-xl-0.swiper-slide
						.card-advantage.card-advantage_steps.mb-xl-5
							.card-advantage__icon
								.card-advantage__label 4
								img(src="img/simple-step6.svg")
							.card-advantage__content
								.card-advantage__title.card-advantage__title_sm Получаете свой подарок для родных и близких <br>(4-10 рабочих дней)

				.main-page-cardset__btn.swiper-button-prev
					+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
				.main-page-cardset__btn.swiper-button-next
					+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')

			.row.justify-content-center
				.col-auto
					button.btn.btn_warning.btn_md Заказать открытку

		article.container.space-article.pt-0
			.row
				.col-12
					.how-it-works-block
						picture.how-it-works-block__bg
							img(src="img/how-it-works-bg.png")
						h2.how-it-works-block__title Как это работает?
						ul.how-it-works-block__list
							li Скачиваете приложение Stories Album
								.row.no-gutters.mt-2
									.col-auto.mr-2
										a(href="#")
											img(src="img/appstore.svg")
									.col-auto
										a(href="appstore.svg")
											img(src="img/google-play.svg")
							li Наводите телефон на QR-код
								img(src="img/qr.svg").ml-2
							li Наводите телефон на изображение

		article.container.pb-3
			h2.title.space-title Варианты дизайна
			.row.js-tab-container.tab.tab_main-page
				.col-12
					ul.tab-list
						li.tab-list__item.js-tab-menu-item.is-active(data-target="#target0")
							h4.tab-list__title Папка-Эконом
						li.tab-list__item.js-tab-menu-item(data-target="#target1")
							h4.tab-list__title Планшет
						li.tab-list__item.js-tab-menu-item(data-target="#target2")
							h4.tab-list__title Трюмо
						li.tab-list__item.js-tab-menu-item(data-target="#target3")
							h4.tab-list__title Альбом-эконом

				.col-12
					.tab__content.is-active#target0
						.tab__shelf
							img(src="img/shelf.svg", alt="")
						.swiper-container.js-swiper-albums.pt-2
							.swiper-wrapper
								.swiper-slide(style="width: 136px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album1.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 180px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album2.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 264px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album3.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 180px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album2.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 136px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album1.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее

							.swiper-button-prev.swiper-button
								+svg-use('slider-arrow', '')
							.swiper-button-next.swiper-button
								+svg-use('slider-arrow', '')

					.tab__content#target1
						.tab__shelf
							img(src="img/shelf.svg", alt="")
						.swiper-container.js-swiper-albums.pt-2
							.swiper-wrapper
								.swiper-slide(style="width: 136px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album1.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 180px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album2.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 264px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album3.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 180px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album2.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 136px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album1.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее

							.swiper-button-prev.swiper-button
								+svg-use('slider-arrow', '')
							.swiper-button-next.swiper-button
								+svg-use('slider-arrow', '')

					.tab__content#target2
						.tab__shelf
							img(src="img/shelf.svg", alt="")
						.swiper-container.js-swiper-albums.pt-2
							.swiper-wrapper
								.swiper-slide(style="width: 136px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album1.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 180px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album2.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 264px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album3.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 180px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album2.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 136px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album1.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее

							.swiper-button-prev.swiper-button
								+svg-use('slider-arrow', '')
							.swiper-button-next.swiper-button
								+svg-use('slider-arrow', '')

					.tab__content#target3
						.tab__shelf
							img(src="img/shelf.svg", alt="")
						.swiper-container.js-swiper-albums.pt-2
							.swiper-wrapper
								.swiper-slide(style="width: 136px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album1.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 180px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album2.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 264px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album3.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 180px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album2.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее
								.swiper-slide(style="width: 136px;")
									.album-preview
										picture.album-preview__image
											img(src="img/index-album1.jpg")
										h3.album-preview__text Название <br />дизайна
										.album-preview__price 1 200 ₽
										a(href="#").btn.btn_thin.btn_warning.album-preview__btn Подробнее

							.swiper-button-prev.swiper-button
								+svg-use('slider-arrow', '')
							.swiper-button-next.swiper-button
								+svg-use('slider-arrow', '')

		article.container.space-article.pt-0
			h2.title.space-title Как получить и оплатить?
				p.subtitle.mt-2 Сроки изготовления: 4-10 рабочих дней
			.row
				.col-xl-6
					.sheet.h-100
						h3.subtitle.subtitle_semibold.mb-2 Как получить и оплатить?
						p оплата НАЛИЧНЫМИ при получении <br>в офисе компании по адресу <a class="link link_inline" href="#">ул. Название, 00</a>
				.col-xl-6.mt-xl-0.mt-4
					.sheet.h-100
						h3.subtitle.subtitle_semibold.mb-2 Доствка курьером + онлайн оплата при заказе
						a(href="#").btn.btn_thin.btn_warning Подробнее

		article.container.pt-0
			.block-specialities
				h2.title.mb-2.mb-md-3 Специальные условия <br>для фотографов
				h3.subtitle.subtitle_specialities По вопросам сотрудничества на постоянной <br>основе&nbsp;на специальных условиях просьба писать <br>на&nbsp;почту <a href="#" class="link link_inline">fotopro.perm@mail.ru</a>  или звонить по тел. <a href="tel:+203-23-00" class="link link_bold link_warning">203-23-00</a>
				.block-specialities__bg
					img(src="img/specialities.png")
